<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>测一测我能报什么大学</title>
</head>
<body>
    <br><br>
    <h1>测一测我能上什么大学</h1>
    <form method="post">
        <label> 高考总分:  </label> <input type="text" name="score" />
        <br>
        <label> 高中专业：</label>
            <input type="radio" checked name="major" value='wen_ke'/><label>文科</label>
            <input name="major"  type="radio" value="li_ke"/><label>理科</label>
        <br>
        <label> 报考批次：</label>
            <input type="radio" checked name="batch" value='yi_ben'/><label>一本</label>
            <input name="batch"  type="radio" value="er_ben"/><label>二本</label>
        <br><br>
        <input type="submit" value="立即测试">

    </form>
</body>
</html>
